<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      GEZİ REHBERİ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" > 

  <ion-toolbar>
    <ion-title class="baslikTitle">
      Lokasyon
    </ion-title>
  </ion-toolbar>

  <ion-list >
    <ion-item button *ngFor="let sehir of sehirler" [routerLink]="['/', 'lokasyon', sehir.id]">
      <ion-avatar slot="start">
        <img [src]="sehir.img">
      </ion-avatar>
      <ion-label> 
        <h2>{{ sehir.sehir }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>