<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      GEZİ REHBERİ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" > 
  <ion-toolbar>
    <ion-title class="baslikTitle">
      Anasayfa
    </ion-title>
  </ion-toolbar>

  <ion-list >
    <ion-item lines="none">
      <ion-card class="card">
        <ion-card-content>
          <ion-img src="assets/images/7.jpg"></ion-img>
        </ion-card-content>
      </ion-card> 
    </ion-item> 

    <ion-item lines="none">
      <ion-card class="card">
        <ion-card-content>
          <ion-img src="assets/images/40.jpg"></ion-img>
        </ion-card-content>
      </ion-card> 
    </ion-item>
    
    <ion-item lines="none">
      <ion-card class="card">
        <ion-card-content>
          <ion-img src="assets/images/41.jpg"></ion-img>
        </ion-card-content>
      </ion-card> 
    </ion-item>

    <ion-item lines="none">
      <ion-card class="card">
        <ion-card-content>
          <ion-img src="assets/images/61.jpg"></ion-img>
        </ion-card-content>
      </ion-card> 
    </ion-item>

    <ion-item lines="none">
      <ion-card class="card">
        <ion-card-content>
          <ion-img src="assets/images/75.jpg"></ion-img>
        </ion-card-content>
      </ion-card> 
    </ion-item>
    
  </ion-list>
</ion-content>
